body {
  background: #efefef;
  margin: 0;
}
a {
  color: inherit;
  text-decoration: none;
}
* {
  margin: 0;
  padding: 0;
}
ul,li{
  list-style: none;
}

.icon {
  width: 1em;
  height: 1em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}

.loading {
  width: 200px;
  height: 200px;
  position: relative;
}

.loading::before,
.loading::after {
  content: '';
  position: absolute;
  width: 0px;
  height: 0px;
  background: black;
  border-radius: 50%;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  animation: s 1.5s linear infinite;
}

.loading::after {
  animation-delay: 0.75s;
}
/* [data-x].offset{
transform: translateY(200px);
} */
[data-x]{
  transform: translateY(0px);
  transition: all .2s;
  }

@keyframes s {
  0% {
    width: 0px;
    height: 0px;
    opacity: 1;
  }
  100% {
    width: 100px;
    height: 100px;
    opacity: 0;
  }
}

.icon {
  width: 1em;
  height: 1em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}

.site-welcome {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #888;
  z-index: 1;
  justify-content: center;
  align-items: center;
}

.site-welcome.active {
  display: flex;
}
hr{
  height: 0;
  border: none;
  border-top: 1px solid #DEDEDE;
}
.clearfix::after {
  content: '';
  display: block;
  clear: both;
}
.topNavBar.sticky {
  background-color: #fff;
  padding: 10px 0;
  box-shadow: 0 0 20px rgba(0,0,0,0.45);
  color: #3d4451;
  z-index: 1;

}
.topNavBar {
  padding: 20px 0 20px 0;
  position: fixed;
  color: #b7b7b7;
  top: 0;
  right:  0;
  width: 100%;
  transition: all ,.5s;
}
.topNavBar .subMenu{
  display: none;
  position: absolute;
  right: 0;
  top: 100%;
  background-color: #fff;
  color: #3d4451;
  box-shadow: 0px 4px 13px 0px rgba(0, 0, 0, 0.2);
}
.topNavBar li.active> .subMenu{
  display: block;
  animation: subMenuSlide .2s;
}
@keyframes subMenuSlide{
  0%{
    margin-right: 100%;
  }
  100%{
    margin-right: 0%;
  }
}
.topNavBar .subMenu >li{
  white-space: nowrap;
  padding:10px 15px ;
  cursor: pointer;
}
.topNavBar .subMenu >li:hover{
  color: #299982;
}

.topNavBar-inner {
  padding: 0 16px;
}
.topNavBar nav {
  padding-top: 7px;
}
.topNavBar nav > ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.topNavBar nav > ul > li {
  float: left;
  margin-left: 17px;
  margin-right: 17px;
  position: relative;
}
.topNavBar nav > ul > li > a {
  font-size: 12px;
  font-weight: bold;
  border-top: 3px solid transparent;
  border-bottom: 3px solid transparent;
  padding-top: 5px;
  padding-bottom: 5px;
  display: block;
  position: relative;
}
.topNavBar nav > ul > li.active > a::after,
.topNavBar nav > ul > li.highlight > a::after

{
  content: '';
  display: block;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 3px;
  background-color:  #299982;
  animation: borderBottomSlide .5s;
}
@keyframes borderBottomSlide{
  0%{
    width:0;
  }
  100%{
    width:100%;
  }
}

.topNavBar .logo {
  font-size: 24px;
  font-family: 'Arial Black';
  padding-top: 3px;
  padding-bottom: 4px;
}
.topNavBar .logo .rs {
  margin-right: 4px;
  color: #299982;
}
.topNavBar .logo .card {
  color: #9a9da2;
}
.banner {
  height: 515px;
  background-image: url(./img/rs-cover1.jpg);
  background-position: center center;
  background-size: cover;
}
.banner .mask {
  height: 515px;
  background-color:rgba(44, 51, 64, 0.8);
}

.userCard {
  max-width: 940px;
  margin-left: auto;
  margin-right: auto;
  background-color: #ffffff;
}
.userCard .welcome {
  background: #299982;
  color: white;
  display: inline-block;
  padding: 4px 16px;
  line-height: 22px;
  position: relative;
  margin-bottom: 10px;
}
.userCard .welcome .triangle {
  display: block;
  border: 10px solid transparent;
  width: 0px;
  border-left-color: #299982;
  border-top-width: 0px;
  position: absolute;
  left: 4px;
  top: 100%;
}
.userCard .picture {
  float: left;
}
.userCard .text {
  float: left;
  margin-left: 65px;
  width: 470px;
}
.userCard .text h1{
  margin-top: 18px;
}
.userCard .text hr{
  margin: 20px 0;
}
.userCard .pictureAndText {
  padding:50px 50px 0 50px;
}
.userCard dl dt,
.userCard dl dd{
  float: left;
  padding: 5px 0;
}
.userCard dl dt{
  width: 30%;
  font-weight: bold;
}
.userCard dl dd{
  width: 70%;
  color: #9da0a7;
}

.userCard > footer.media{
  background: #299982;
  text-align: center;
}
.userCard > footer.media > a{
  display: inline-block;
  width: 50px;
  line-height: 30px;
  padding: 10px 0;
  border-radius: 50%;
  margin: 16px;
}
.userCard > footer.media > a:hover{
  background: #CF5D5F;
}
.userCard svg{
  width: 30px;
  height: 30px; 
  fill: white;
  vertical-align: top;
}
body > main {
  margin-top: -340px;
}
body > main .downloadResume-wrapper {
  /* text-align: center; */
}
body > main .downloadResume {
  font-size: 14px;
  line-height: 16px;
  padding: 15px 45px;
  border: 1px solid #cdcfd1;
  background: #efefef;
  display: inline-block;
  border-radius: 2px;
  color: #3d4451;
  font-weight: bold;
  margin: 32px 0;
  transition: box-shadow 0.2s;
}

body > main .downloadResume:hover {
  box-shadow: 0px 4px 13px 0px rgba(0, 0, 0, 0.2);
}

.selfIntroduction {
  max-width: 940px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-family: kai;
  line-height: 1.8;
  font-size: 18px;
}

section.skills,
section.portfolio{
  max-width: 940px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 60px;
}
section.skills > h2 ,
section.portfolio > h2 {
  text-align: center;
  color: #3d4451;
  font-size: 34px;
  line-height: 1.2;
  font-weight: 600;
}
section.skills h3 {
  font-size: 14px;
  line-height: 1.1;
  padding-right: 40px;
}
section.skills > ol {
  background: white;
  box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.5);
  padding: 42px 50px 10px;
  margin-top: 30px;
}
section.skills > ol > li {
  float: left;
  width: 48%;
  box-sizing: border-box;
}
section.skills > ol > li:nth-child(even) {
  float: right;
}

section.skills .progressBar {
  height: 5px;
  background: #FAE1E1;
  border-radius: 2px;
  margin: 4px 0 40px;
  overflow: hidden;
}

section.skills .progressBar > .progress {
  height: 100%;
  background: #299982;
  width: 70%;
  border-radius: 2px;
  transform: translateX(0);
  transition: all 1.5s;
}
section.skills.offset .progress{
  transform: translateX(-100%)
}

section.portfolio {
  text-align: center;
  margin-bottom: 100px;
}
section.portfolio > nav{
  text-align: center;
}
section.portfolio > nav > ol{
  margin: 0 auto;
  display: inline-block;
  vertical-align: top;
}
section.portfolio > nav > ol > li{
  float: left;
  margin-left: 40px;
  cursor: pointer;
}
section.portfolio > nav > ol > li:first-child{
  margin-left: 0;

}
section.portfolio > nav{
  display: inline-block;
  vertical-align: top;
  margin-top: 32px;
}
section.portfolio > nav .bar{
  height: 5px;
  background: white;
  margin-top: 5px;
  margin-bottom: 28px;
  border-radius: 2px;
}
section.portfolio > nav .bar-inner{
  height: 100%;
  background: #299982;
  border-radius: 2px;
  transition: all 0.3s;
}
section.portfolio > nav .bar.state-1 .bar-inner{
  margin-left: 0;
  width: 50px;
}
section.portfolio > nav .bar.state-2 .bar-inner{
  margin-left: 65px;
  width: 50px;
}
section.portfolio > nav .bar.state-3 .bar-inner{
  margin-left: 140px;
  width: 96px;
}
section.portfolio .works{
  position: relative;
}
section.portfolio .works > .big,
section.portfolio .works > .small {
  position: absolute;
}
.swiper-slide>img {
  width: 70%
}
#msgList{
  border-top: 1px solid #b7b7b7;
  width: 700px;
  margin: 20px auto;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.5);
}
#msgList>li{
  box-sizing: border-box;
  border-bottom: 1px solid #b7b7b7;
  padding: 20px;
}
#mySlides{
  background: white;
  box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.5);
  /* padding: 42px 50px 10px; */
  margin-top: 30px;
}
#msg-container{
  margin-top: 60px;
}
#msg-container>h2{
  text-align: center;
  color: #3d4451;
  font-size: 34px;
  line-height: 1.2;
  font-weight: 600;
}
#mySlides img{
  width: 100%;
}
#mySlides>ul{
    display: flex;
     align-items: center;
     flex-wrap: wrap;
     padding: 1rem 2rem;
}
#mySlides>ul>li{
  box-sizing: border-box;
  width: 33.333333%;
  padding: 20px;
  margin: 5px 0;
}

#mySlides>ul>li:hover{
  box-shadow: 0px 4px 13px 0px rgba(0, 0, 0, 0.2);
}