*{margin: 0;padding: 0;box-sizing: border-box;}
.window{width: 600px;height: 400px;margin: 20px auto;overflow: hidden;}
/* ver 1.0  */
/* 
.images{
    position: relative;
}
.images>img{
    width: 100%;
    transition: all,.5s;
    position: absolute;
    top: 0;
}
.images>img.current{
    left: 0;
   transform: translateX(0);
   z-index: 1;
}

.images>img.leave{
    transform: translateX(-100%);
    z-index: 1;
}

.images>img.enter{
    transform: translateX(100%);
} */
/* ver 1.0 end */

/* ver 2.0  */
.images{
    display: flex;   
    transition: all,.5s;
    
}
.images>img{
    width: 100%;
    
}
/* ver 2.0 end */
